body, html {
    height: 100%;
    color: white;
    font-family: 'Ubuntu', sans-serif
}

.parallax {
    /* Paralax Scrolling */

    /* Set a specific height */
    height: 100%;
    background-image: url("../images/secondPage.jpg");
    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /*https://stackoverflow.com/questions/15489165/how-to-fade-out-sides-of-images*/
    background-image: -webkit-linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%), url("../images/secondPage.jpg");
    background-image:  -moz-linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%), url("../images/secondPage.jpg");
    background-image:  -o-linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%), url("../images/secondPage.jpg");
    background-image:  -ms-linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%), url("../images/secondPage.jpg");
    background-image:  linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%), url("../images/secondPage.jpg");
  }

nav {
  /* hide the navbar initially, till load is done*/
  visibility: hidden;
}

.navbar {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

.navbar.scrolled {
    background: rgba(0, 0, 0, 0.5);
    border-color:transparent;
    background-image:none;
    box-shadow:none;
}


.navbar-inverse .navbar-nav>li>a {
  font-size: 1.2em;
}

.main {
  text-shadow: 1px 1px 10px black;
}

.main.parallax {
    position: relative;
    text-align: center;
}

.main-text {
  display: none;
  padding-top: 30%;
}

.main-text button{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  padding-top: 1em;
}
.animate-text{
  display: inline-block;
}

.animate-text, .main-text{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.animate-text h1, .main-text h1{
    display: inline;
}

.carousel-inner section h1{
  display: inline;
}



.typed-cursor{
    font-size: 45px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.row{
  margin-right: 0px;
  margin-left: 0px;
  padding-bottom: 10em;
}

/* Need media query for smaller screens for .logoRow and .logoRow img */
.logoRow{
  height: 15em;
}

.logoRow img{
  height: 170px;
  width: 170px;


  line-height: 60px;
  -moz-border-radius: 100px; /* or 50% */
  border-radius: 100px; /* or 50% */
  background-color: white;
}

.scrolling-section h1{
  text-shadow: 1px 1px 10px black;
  padding-top: 0.5em;
  padding-bottom: 2em;
}

.education img{
  position: absolute;
  left: 5em;
}
.edInfo{
  text-align: left;
}

.edInfo h3{
  padding-bottom: 1em;
}

.edInfo h4{
  padding-left: 2em;
}

.edInfo ul{
  padding-left: 5em;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.scrolling-section{
  height: 100%;
  overflow:hidden;
}

.carousel, .item, .active{
  height:100%;
}
.carousel-inner{
  height:100%;
}


.scrolling-section.education{
  /*background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/thirdPageBG.jpg");*/
  background-color: black;
}

.scrolling-section.experience{
  /*background-image: url("../images/alternateSecondPage.jpg");*/
  background-color: black;
}

.scrolling-section.about-me{
  background-color: black;
}

.item{
  padding-top: 1em;
}

.item .row{
  padding-top: 3em;
}

.link a{
  color: white;
  text-decoration:none;
}

.link a:hover{
  -webkit-transition-duration: 1s; /* Safari */
  transition-duration: 1s;
  color: #00A3FE;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #00a087;
}

.spinner {

  width: 80px;
  height: 80px;

  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  animation: spin 1s infinite linear;

}

@keyframes spin {
  /* Spinner animation */

    from {
      transform: rotat(0deg);
    } to {
      transform: rotate(360deg);
    }
}

#overlay {
  height: 100%;
  weight: 100%;
  background: black;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9999;
}
